@font-face {
    font-family: h2;
    src: url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
}

@font-face {
    font-family: h1;
    src: url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h2 {
    font-family: h2;
}

h1 {
    font-family: h1;
}

h1 .header {
    font-size: medium;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}

.jumbotron {
    height:100vh
}

.gambargede {
    width: auto;
    height: 300px;
}

.jumbobackground {
    background:url('img source/vecteezy_minimalist-dark-gradient-wave-background-simple-design-for_7718309.jpg'); 
    background-size:cover; 
    background-position: center;
}

.education {
    width: 300px;
    height:200px;
}

.container1-bg {
    background-size:cover;
    background-color:gray;
}

.bg-education {
    background-color: #f2f2f2;
    background-size:cover; 
    background-position: center;
}

.img-carousel {
    width :75%;
    height:75%;
}

.trans-dark {
    background-color: rgba(97,97,105,0.8);
}